<div class="menuContainer">
  <div class="title">
    <img src="assets/icon/InnventoryLogoLogistics.png" alt="Logo" class="logo"
      routerLink="/dashboard-control/dashboard-page" routerLinkActive="active-tab">
  </div>
  <ion-button fill="clear" size="small" routerLink="/dashboard-control/product-page" routerLinkActive="active-tab">
    Productos
  </ion-button>
  <ion-button fill="clear" size="small" routerLink="/dashboard-control/provider-page" routerLinkActive="active-tab">
    Proveedores
  </ion-button>
  <ion-button fill="clear" size="small" routerLink="/dashboard-control/client-page" routerLinkActive="active-tab">
    Clientes
  </ion-button>
  <ion-button fill="clear" size="small" routerLink="/dashboard-control/report-page" routerLinkActive="active-tab">
    Reportes
  </ion-button>
  <ion-button fill="clear" size="small" routerLink="/dashboard-control/delivery-page" routerLinkActive="active-tab">
    Pedidos
  </ion-button>
  <div class="logout">
    <ion-button fill="clear" size="small" routerLink="/dashboard-control/setting-page" routerLinkActive="active-tab">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-button>
    <ion-button fill="clear" size="small" (click)="getOut()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</div>

<ion-router-outlet></ion-router-outlet>