//variables colores
$background-color-header: #ffffff;
$color-letters: #E66A00;
$color-hover: #ff9933;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $background-color-header;
    border-bottom: 2px solid #e0e0e0;
    flex-shrink: 0;
    z-index: 10;

    ion-button {
        color: $color-letters;
        font-weight: bold;
        font-size: 13px;

        &.active-tab {
            --color: $color-hover;
            border-bottom: 3px solid $color-hover;
        }
    }
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.logout {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;

    ion-button {
        color: $color-letters;
        font-weight: bold;
        font-size: 13px;
    }

    ion-icon {
        font-size: 24px;
        color: $color-letters;
        margin-left: 10px;
    }

    ion-avatar {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

ion-router-outlet {
    flex: 1;
    position: relative;
}