<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de los vehiculos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--------------------------------------------------------------------------------------------------
    BARRA DE BUSQUEDA CON TOGGLER Y BOTON AGREGAR EN LA PARTE SUPERIOR
  ---------------------------------------------------------------------------------------------------->
  <div class="search-container">
    <ion-button (click)="goToAdminHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <div class="search-bar">
      <ion-searchbar placeholder="CIF, Nombre, Telefono ...."></ion-searchbar>
      <ion-item lines="none">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-toggle justify="end" [(ngModel)]="isChangeToogle">
        </ion-toggle>
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-item>
      <ion-button (click)="openModal()">
        <ion-icon name="add"></ion-icon>
        Nuevo
      </ion-button>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------
    TABLA DE PROVEEDORES EN FORMATO DE CARDS 
    ---------------------------------------------------------------------------------------------------->
  <div class="table-container" *ngIf="!isChangeToogle">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="5" size-lg="3" *ngFor="let vehiculo of vehiculos">
          <ion-card class="worker-card">
            <ion-card-header>
              <ion-card-title>
                <div class="vehiculo-info">
                  <h2>
                    <ion-icon name="tablet-landscape-outline"></ion-icon>
                    {{ vehiculo.matricula }}
                  </h2>
                  <h3>
                    <ion-icon name="car-sport-outline"></ion-icon>
                    {{ vehiculo.marca }}
                  </h3>
                  <ion-chip [color]="getColorEstado(vehiculo.estado)">
                    {{ vehiculo.estado }}
                  </ion-chip>
                </div>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="vehiculo-detalles">
                <p>
                  <ion-icon name="car-sport-outline"></ion-icon>
                  <span>Modelo:</span> {{ vehiculo.modelo }}
                </p>
                <p>
                  <ion-icon name="color-palette-outline"></ion-icon>
                  <span>Color:</span> {{ vehiculo.color }}
                </p>
                <p>
                  <ion-icon name="car-sport-outline"></ion-icon>
                  <span>Tipo de Vehiculo:</span> {{ vehiculo.tipoVehiculo.tipoVehiculo }}
                </p>
                <div class="botones-grid">
                  <ion-chip button (click)="updateVehiculoData(vehiculo)" title="Editar Vehiculo">
                    <ion-icon name="create-outline"></ion-icon>
                    Editar
                  </ion-chip>
                  <ion-button title="Ver conductor de ese vehiculo" (click)="conductorFiltro(vehiculo.matricula)">
                    <ion-icon name="people-outline"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-button class="deleteButton" fill="clear" (click)="deleteVehicle(vehiculo.matricula)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--------------------------------------------------------------------------------------------------
    TABLA DE PROVEEDORES EN FORMATO DE LISTA
    ---------------------------------------------------------------------------------------------------->
  <div>
    <ion-list *ngIf="isChangeToogle" class="list-container">
      <ion-item *ngFor="let vehiculo of vehiculos" class="vehiculo-info-list" lines="full">
        <div class="vehiculo-header-list">
          <h2><ion-icon name="tablet-landscape-outline"></ion-icon>
            {{ vehiculo.matricula }}
          </h2>
          <h3><ion-icon name="car-sport-outline"></ion-icon>{{ vehiculo.marca }}</h3>
        </div>
        <ion-chip [color]="getColorEstado(vehiculo.estado)">
          {{ vehiculo.estado }}
        </ion-chip>
        <ion-label class="vehiculo-detalles-list">
          <p>
            <ion-icon name="car-sport-outline"></ion-icon>
            <span>Modelo:</span> {{ vehiculo.modelo }}
          </p>
          <p>
            <ion-icon name="color-palette-outline"></ion-icon>
            <span>Color:</span> {{ vehiculo.color }}
          </p>
          <p>
            <ion-icon name="car-sport-outline"></ion-icon>
            <span>Tipo de Vehiculo:</span> {{ vehiculo.tipoVehiculo.tipoVehiculo }}
          </p>
        </ion-label>
        <div class="botones-lista">
          <ion-button slot="end" fill="clear" (click)="updateVehiculoData(vehiculo)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear" (click)="deleteVehicle(vehiculo.matricula)" title="Eliminar Vehiculo">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <!------------------------------------------------------------------------------------------------
  MODAL PARA AGREGAR UN NUEVO PROVEEDOR
  -------------------------------------------------------------------------------------------------->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()" class="modalinput">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{isUpdateVehicle ? 'Actualizar Vehiculo' : 'Nuevo Vehiculo'}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <!----------------------------------------------------------------------------------------------
      DIVIDIMOS LOS SEGMENTOS EN DOS PARA PODER AGREGAR UN NUEVO VEHICULO O UN NUEVO TIPO DE VEHICULO
      -------------------------------------------------------------------------------------------------->
      <ion-segment>
        <!--NUEVO VEHICULO (SOLO APARECE CUANDO SE VA HA AÑADIR UN VEHICULO)-->
        <ion-segment-button value="first" content-id="first" *ngIf="!isUpdateVehicle">
          <ion-label>Nuevo Vehiculo</ion-label>
        </ion-segment-button>
        <!--NUEVO TIPO DE VEHICULO (SOLO APARECE CUANDO SE VA HA AÑADIR UN TIPO DE VEHICULO)-->
        <ion-segment-button value="second" content-id="second" *ngIf="!isUpdateVehicle">
          <ion-label>Nuevo Tipo de Vehiculo</ion-label>
        </ion-segment-button>
      </ion-segment>
      <!----------------------------------------------------------------------------------------------
      SEGMENTOS PARA PODER AGREGAR UN NUEVO VEHICULO O UN NUEVO TIPO DE VEHICULO
      -------------------------------------------------------------------------------------------------->
      <ion-segment-view>
        <!--SEGMENTO DEL NUEVO VEHICULO-->
        <ion-segment-content id="first">
          <ion-content>
            <ion-item lines="none">
              <ion-icon name="id-card-outline"></ion-icon>
              <ion-input type="text" placeholder="Matricula" [(ngModel)]="matricula"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="business-outline"></ion-icon>
              <ion-input type="text" placeholder="Marca" [(ngModel)]="marca"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="location-outline"></ion-icon>
              <ion-textarea placeholder="Modelo" [(ngModel)]="modelo"></ion-textarea>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="mail-open-outline"></ion-icon>
              <ion-input type="text" placeholder="Color" [(ngModel)]="color"></ion-input>
            </ion-item>
            <ion-item *ngIf="isUpdateVehicle">
              <ion-icon name="pricetag-outline"></ion-icon>
              <ion-select placeholder="Estado" [(ngModel)]="estado">
                <ion-select-option *ngFor="let estado of estados" [value]="estado">
                  {{estado}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-icon name="pricetag-outline"></ion-icon>
              <ion-select placeholder="Tipo de Vehiculo" [(ngModel)]="idTipo">
                <ion-select-option *ngFor="let tipoVehiculo of tipoVehiculos" [value]="tipoVehiculo.idTipo">
                  {{tipoVehiculo.tipoVehiculo}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button expand="block" class="ion-margin" (click)="createVehicle()">
              <ion-icon name="add" slot="start"></ion-icon>
              {{isUpdateVehicle ? 'Actualizar Vehiculo' : 'Nuevo Vehiculo'}}
            </ion-button>
          </ion-content>
        </ion-segment-content>
        <!--SEGMENTO DEL NUEVO TIPO DE VEHICULO-->
        <ion-segment-content id="second">
          <ion-content>
            <ion-item lines="none">
              <ion-icon name="id-card-outline"></ion-icon>
              <ion-input type="text" placeholder="Tipo de Vehiculo" [(ngModel)]="tipoVehiculo"></ion-input>
            </ion-item>
            <ion-button expand="block" class="ion-margin" (click)="createTipoVehiculo()">
              <ion-icon name="add" slot="start"></ion-icon>
              Añadir
            </ion-button>
            <ion-list>
              <div class="line-grid">
                <ion-label>Tipos de Vehiculos</ion-label>
                <div class="line"></div>
              </div>
              <ion-item *ngFor="let tipoVehiculo of tipoVehiculos">
                <ion-label>{{tipoVehiculo.tipoVehiculo}}</ion-label>
                <ion-button fill="clear" (click)="deleteTipoVehiculo(tipoVehiculo.idTipo)"
                  title="Eliminar Tipo de vehiculo">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-segment-content>
      </ion-segment-view>
    </ng-template>
  </ion-modal>
  <!------------------------------------------------------------------------------------------------
  MODAL PARA VER EL CONDUCTOR DE UN VEHICULO
  -------------------------------------------------------------------------------------------------->
  <ion-modal [isOpen]="isModalOpenConductor" (didDismiss)="closeModalConductor()" class="modalinputConductor">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Conductor del Vehiculo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModalConductor()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let conductor of filtroDeConductores" lines="none">
            <div class="barra-izquierda" [ngClass]="ColorConductor"></div>
            <div class="datos-conductor">
              <ion-label><span>Conductor:</span>{{conductor.conductor.nombre + ' ' +
                conductor.conductor.apellido}}</ion-label>
              <ion-label><span>Fecha de Recogida:</span>{{conductor.fechaRecogidaVehiculo | date: 'dd/MM/yyyy
                HH:mm'}}</ion-label>
              <ion-label><span>Fecha de Devolución:</span>{{conductor.fechaDevolucionVehiculo | date: 'dd/MM/yyyy
                HH:mm' : 'Pendiente de devolución'}}</ion-label>
            </div>
            <div class="botones-conductor">
              <ion-button fill="clear" title="Enviar Mensaje">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" title="Ver ubicación">
                <ion-icon name="navigate-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>