<ion-content [fullscreen]="true">
  <!------------------------------------------------------------------------------------------------
  BARRA DE BUSQUEDA Y BOTON DE AGREGAR EN LA PARTE SUPERIOR DE LA VENTANA
  -------------------------------------------------------------------------------------------------->
  <div class="searchtab">
    <div class="search-container">
      <ion-button (click)="goToAdminHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-searchbar placeholder="Buscar Categoría ...."></ion-searchbar>
      <ion-button (click)="openModal()">
        <ion-icon name="add"></ion-icon>
        Nueva Categoría
      </ion-button>
    </div>
  </div>
</ion-content>