<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de los Clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!------------------------------------------------------------------------------------------------
  BARRA DE BUSQUEDA Y BOTON DE AGREGAR EN LA PARTE SUPERIOR DE LA VENTANA
  -------------------------------------------------------------------------------------------------->
  <div class="searchtab">
    <div class="search-container">
      <ion-button (click)="goToAdminHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-searchbar placeholder="Buscar DNI, Cif, Nombre , Telefono ...."></ion-searchbar>
      <ion-button (click)="openModal()">
        <ion-icon name="add"></ion-icon>
        Nuevo Cliente
      </ion-button>
    </div>
  </div>

  <ion-grid class="listCliente">
    <ion-row>
      <ion-col size="10" size-md="4" size-lg="4" *ngFor="let cliente of clientes">
        <div class="deleteButton">
          <ion-button>
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
        <ion-item button>
          <ion-label class="cliente-info">
            <h2>CIF: {{cliente.CifCliente}}</h2>
            <p><span>Nombre:</span> {{cliente.nombre}}</p>
            <p><span>Email:</span> qweqwe</p>
            <p><span>Telefono:</span> qweqwe</p>
            <p><span>Direccion:</span> qweqwe</p>
            <p><span>Categoria:</span> qweqwe</p>
          </ion-label>
          <ion-button>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>