<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de los clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--------------------------------------------------------------------------------------------------
    BARRA DE BUSQUEDA CON TOGGLER Y BOTON AGREGAR EN LA PARTE SUPERIOR
  ---------------------------------------------------------------------------------------------------->
  <div class="search-container">
    <ion-button (click)="goToAdminHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <div class="search-bar">
      <ion-searchbar placeholder="DNI, Cif, Nombre o Telefono ...."></ion-searchbar>
      <ion-item lines="none">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-toggle justify="end" [(ngModel)]="isChangeToogle">
        </ion-toggle>
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-item>
      <ion-button (click)="openModal()">
        <ion-icon name="add"></ion-icon>
        Nuevo Cliente
      </ion-button>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------
    TABLA DE CLIENTES EN FORMATO DE CARDS 
    ---------------------------------------------------------------------------------------------------->
  <div class="table-container" *ngIf="!isChangeToogle">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="5" size-lg="3" *ngFor="let client of clientes">
          <ion-card class="worker-card">
            <ion-card-header>
              <ion-card-title>
                <div class="cliente-info">
                  <h2>
                    <ion-icon name="id-card-outline"></ion-icon>
                    {{ client.cifCliente }}
                  </h2>
                  <h3>
                    <ion-icon name="person-outline"></ion-icon>
                    {{ client.nombre }}
                  </h3>
                </div>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="cliente-detalles">
                <p>
                  <ion-icon name="call-outline"></ion-icon>
                  {{ client.telefono }}
                </p>
                <p>
                  <ion-icon name="mail-open-outline"></ion-icon>
                  {{ client.correo }}
                </p>
                <p>
                  <ion-icon name="location-outline"></ion-icon>
                  {{ client.direccion }}
                </p>
                <p>
                  <ion-icon name="map-outline"></ion-icon>
                  {{ client.ciudad }}, {{ client.pais }}
                </p>
                <ion-chip button (click)="isUpdateCliente(client)">
                  <ion-icon name="create-outline"></ion-icon>
                  Editar
                </ion-chip>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-button (click)="deleteCliente(client.cifCliente); $event.stopPropagation()" class="deleteButton"
            fill="clear">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--------------------------------------------------------------------------------------------------
    TABLA DE CLIENTES EN FORMATO DE LISTA
    ---------------------------------------------------------------------------------------------------->
  <div>
    <ion-list *ngIf="isChangeToogle" class="list-container">
      <ion-item *ngFor="let client of clientes" (click)="isUpdateCliente(client)" class="cliente-info-list"
        lines="full">
        <ion-avatar>
          <img alt="Client" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div class="cliente-infoHeader-list">
          <h2><ion-icon name="id-card-outline"></ion-icon>{{ client.cifCliente }}</h2>
          <h3>{{ client.nombre }}</h3>
        </div>
        <ion-label class="cliente-detalles-list">
          <p>
            <ion-icon name="call-outline"></ion-icon>
            {{ client.telefono }}
          </p>
          <p>
            <ion-icon name="mail-open-outline"></ion-icon>
            {{ client.correo }}
          </p>
          <p>
            <ion-icon name="location-outline"></ion-icon>
            {{ client.direccion }}
          </p>
        </ion-label>
        <div class="botones-lista">
          <ion-button slot="end" fill="clear">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" (click)="deleteCliente(client.cifCliente); $event.stopPropagation()" fill="clear">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <!------------------------------------------------------------------------------------------------
  MODAL PARA AGREGAR UN NUEVO CLIENTE
  -------------------------------------------------------------------------------------------------->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()" class="modalinput">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{isEditCliente ? 'Actualizar Cliente' : 'Nuevo Cliente'}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-item lines="none">
          <ion-icon name="id-card-outline"></ion-icon>
          <ion-input type="text" placeholder="CIF del cliente" [(ngModel)]="cliente.cifCliente"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input type="text" placeholder="Nombre del cliente" [(ngModel)]="cliente.nombre"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="location-outline"></ion-icon>
          <ion-textarea placeholder="Dirección" [(ngModel)]="cliente.direccion"></ion-textarea>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="mail-open-outline"></ion-icon>
          <ion-input type="text" placeholder="Correo Electrónico" [(ngModel)]="cliente.correo"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="call-outline"></ion-icon>
          <ion-input type="text" placeholder="Teléfono" [(ngModel)]="cliente.telefono"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin-outline"></ion-icon>
          <ion-input type="text" placeholder="Código Postal" [(ngModel)]="cliente.codigoPostal"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="business-outline"></ion-icon>
          <ion-input type="text" placeholder="Ciudad" [(ngModel)]="cliente.ciudad"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="globe-outline"></ion-icon>
          <ion-input type="text" placeholder="Pais" [(ngModel)]="cliente.pais"></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-margin" (click)="createCliente()">
          <ion-icon name="add" slot="start"></ion-icon>
          {{isEditCliente ? 'Actualizar Cliente' : 'Nuevo Cliente'}}
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>