<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-segment value="todos">
      <ion-segment-button value="todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="papeleria">
        <ion-label>Papeleria</ion-label>
      </ion-segment-button>
      <ion-segment-button value="limpieza">
        <ion-label>Limpieza</ion-label>
      </ion-segment-button>
      <ion-segment-button value="alimentacion">
        <ion-label>Alimentacion</ion-label>
      </ion-segment-button>
      <ion-segment-button value="merchandising">
        <ion-label>Merchandising</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="search-bar">
      <ion-searchbar placeholder="Buscar producto .."></ion-searchbar>
    </div>
  </div>
  <div class="products-container">
    <ion-item *ngFor="let product of products">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="product-info">
        <h2>{{product.id}}</h2>
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
      </ion-label>
      <ion-label class="product-category">
        <h2>{{product.category}}</h2>
      </ion-label>
      <ion-label class="product-stock">
        <h2>{{product.stock}} UND.</h2>
      </ion-label>
      <ion-label class="product-price">
        <h2>{{product.price}} €</h2>
      </ion-label>
      <ion-button>
        <ion-icon name="eye"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>



</ion-content>