<ion-content [fullscreen]="true">
  <div class="menuContainer">
    <div class="title">
      <img src="assets/icon/InnventoryLogoLogistics.png" alt="Logo" class="logo">
    </div>
    <ion-button fill="clear" size="small">
      Productos
    </ion-button>
    <ion-button fill="clear" size="small">
      Proveedores
    </ion-button>
    <ion-button fill="clear" size="small">
      Clientes
    </ion-button>
    <ion-button fill="clear" size="small">
      Reportes
    </ion-button>
    <ion-button fill="clear" size="small">
      Pedidos
    </ion-button>
    <div class="logout">
      <ion-button fill="clear" size="small">
        <ion-icon name="person-outline"></ion-icon>
        Perfil
      </ion-button>
      <ion-button fill="clear" size="small" (click)="getOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </div>

  </div>






</ion-content>